#planet-msg {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  height: 80%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 0px 20px;
  max-width: 200px;
  color: rgb(135, 143, 255);
  pointer-events: none;
  user-select: none;
  &.show{
    background-color: rgba(0, 0, 0, 0.7);
  }
  .top-r {
    position: absolute;
    left: 0;
    top: 0;
    height: 40px;
    width: 40px;
    border-top-left-radius: 20px;
    border-left: 2px solid #878fff;
    border-top: 2px solid #878fff;
  }

  .bottom-r {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 40px;
    width: 40px;
    border-bottom-left-radius: 20px;
    border-left: 2px solid #878fff;
    border-bottom: 2px solid #878fff;
  }

  .parameter-div {
    margin: 0px 0px 40px 0px;

    div {
      font-size: 16px;
      font-weight: 900;
      color: rgba(135, 143, 255, 0.5);
      margin: 10px 0px;

      span {
        color: rgb(135, 143, 255);
      }
    }

    .name {
      margin: 10px 0px 40px 0px;
      font-size: 40px;
      font-weight: 900;
      color: #fff;
    }
  }

  .description {
    pointer-events: all;
    height: 30%;
    overflow: auto;
    font-size: 14px;
    font-weight: 100;
  }
}